/* ----- RESET ----- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- VARIÁVEIS PADRÃO ----- */
body {
  font-family: 'Inter', sans-serif;
  color: #000000;
}

/* ----- HEADER ----- */
.page-header {
  display: flex;
  justify-content: center;
  background: #000000;
  padding: 28px 0;
}

.header-logo {
  display: block;
}

/* ----- MAIN BANNER ----- */
.main-banner {
  display: block;
  width: 100%;
}

/* ----- TOP SECTION ----- */
.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 74px 0 80px;
}

.top-section-text {
  margin-bottom: 74px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-section-subtitle {
  text-transform: uppercase;
  /* line-height: 38px; */
  font-size: 32px;
  font-weight: 400;
}

.top-section-title {
  margin-bottom: 28px;
  text-transform: uppercase;
  /* line-height: 58px; */
  font-size: 48px;
  font-weight: 500;
}

.top-section-description {
  max-width: 54%;
  line-height: 24px;
  font-size: 16px;
}

.top-section-image {
  max-width: 17%;
  margin-bottom: 180px;
  display: block;
}

.top-section-cards {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.top-card {
  max-width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 36px 26px 26px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
}

.top-card-image {
  /* max-width: 30%; */
  display: block;
  margin-bottom: 30px;
}

.top-card-image-01 {
  /* margin-top: 16px; */
  padding: 10px 0;
}

.top-card-description {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

/* ----- IMAGE GRID ----- */
.image-grid-container {
  display: flex;
  justify-content: center;
  background: #E0E0E0;
}

.image-grid {
  width: 92%;
  display: flex;
  justify-content: center;
  gap: 40px;
  position: relative;
  top: 62px;
}

.grid-image-desktop,
.grid-image-mobile {
  display: block;
}

/* ----- LOWER SECTION ----- */
.lower-section {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-template-areas:
  "cards"
  "text"
  "image";
  /* column-gap: 14px;
  row-gap: 24px;
  top: 32px; */
}

.lower-section-cards {
  /* max-width: 92%; */
  margin: 192px 0 108px;
  grid-area: cards;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.lower-card {
  max-width: 22.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px 0 64px;
  background: #FFFFFF;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.15);
}

.lower-card-image {
  max-width: 24%;
  margin-bottom: 16px;
  display: block;
}

.lower-card-description {
  padding: 0 32px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.lower-section-text {
  margin-bottom: 50px;
  grid-area: text;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lower-section-subtitle {
  /* line-height: 39px; */
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.lower-section-description {
  max-width: 28%;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
}

.lower-section-image-desktop {
  max-width: 70%;
  margin: 0 auto 116px;;
  grid-area: image;
  display: block;
}

/* ----- FOOTER ----- */
.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0;
  background: #000000;
}

.footer-icons {
  display: flex;
  gap: 22px;
  list-style: none;
  margin-bottom: 16px;
}

.footer-text {
  text-align: center;
  text-transform: uppercase;
  line-height: 12px;
  font-size: 10px;
  color: #BDBDBD;
}

/* ----- RESPONSIVIDADE ----- */
@media screen and (min-width: 2500px) {

}

@media screen and (min-width: 769px) {
  .main-banner-mobile,
  .grid-image-mobile,
  .lower-section-image-mobile {
    display: none;
  }
}

@media screen and (min-width: 769px) and (max-width: 1919px) {
  .image-grid {
    /* width: 100%; */
    /* margin: 0 24px; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
    "imagem1 imagem2"
    "imagem3 imagem3";
    column-gap: 14px;
    row-gap: 24px;
    top: 32px;
    background: #E0E0E0;
  }

  .grid-image-desktop {
    max-width: 100%;
  }

  .grid-image-desktop-01 {
    grid-area: imagem1;
  }

  .grid-image-desktop-02 {
    grid-area: imagem2;
  }

  .grid-image-desktop-03 {
    grid-area: imagem3;
  }
}

@media screen and (max-width: 768px) {
  .main-banner-desktop,
  .grid-image-desktop,
  .lower-section-image-desktop {
    display: none;
  }

  .top-section-text {
    max-width: 86%;
    margin-bottom: 64px;
  }

  .top-section-subtitle {
    line-height: 24px;
    font-size: 20px;
  }

  .top-section-title {
    line-height: 34px;
    font-size: 28px;
  }

  .top-section-description {
    max-width: 100%;
    text-align: center;
  }

  .top-section-image {
    max-width: 58%;
    margin-bottom: 90px;
  }

  .top-section-cards {
    max-width: 84%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }

  .top-card {
    max-width: 100%;
  }

  .image-grid {
    /* width: 100%; */
    /* margin: 0 24px; */
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-areas:
    "imagem1 imagem2"
    "imagem3 imagem3";
    column-gap: 14px;
    row-gap: 24px;
    top: 32px;
    background: #E0E0E0;
  }

  .grid-image-mobile {
    max-width: 100%;
  }

  .grid-image-mobile-01 {
    grid-area: imagem1;
  }

  .grid-image-mobile-02 {
    grid-area: imagem2;
  }

  .grid-image-mobile-03 {
    grid-area: imagem3;
  }

  .lower-section {
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-template-areas:
    "cards"
    "image"
    "text";
    /* column-gap: 14px;
    row-gap: 24px;
    top: 32px; */
  }

  .lower-section-cards {
    margin: 112px 0 98px;
    grid-area: cards;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
  }

  .lower-card {
    max-width: 88%;
  }

  .lower-card-image {
    max-width: 28%;
  }

  .lower-card-description {
    font-size: 14px;
  }

  .lower-section-text {
    margin-bottom: 88px;
  }

  .lower-section-subtitle {
    /* line-height: 29px; */
    margin-bottom: 8px;
    font-size: 24px;
  }

  .lower-section-description {
    max-width: 84%;
  }

  .lower-section-image-mobile {
    margin-bottom: 50px;
    grid-area: image;
    display: block;
  }

  .page-footer {
    padding: 32px 0;
  }

  .footer-text {
    max-width: 64%;
  }
}

@media screen and (max-width: 320px) {
  .top-section-text {
    width: 100%;
  }
}
